body{
	width: 80%;
	margin: 5% 10% 5% 10%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*bgcolor="color_name|hex_number|rgb_number"*/
}

fieldset {
    border: 0;
}


#logout{
	display:inline-block;
	position:absolute;
	margin-top:3%;
    right:10%; 
}

#logopilt{
	display:inline-block;
	margin-top:2%;
	margin-left:10%; 
	margin-bottom: 1%;
}

.header{
	font-size: 52px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: top;
	padding:0px;
}

.tablinks .tooltip {
	font-size: 15px;
	visibility: hidden;
    width: 120px;
    background-color: white;
    border: 1px solid; 
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
	
	opacity: 0;
    transition: opacity 1s;
}

.tablinks:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

footer{
	position:fixed;
	left:200px;
	bottom:0px;
	height:30px;
	width:100%;
}

.coderepo{
	height:0px;
}

.fb-login-button{
	position:absolute;
    top:60%;
    left:50%;
}

#kas{
	position:absolute;
    top:40%;
    left:60%;
}
#pw{
	position:absolute; 
    top:48%;
    left:60%;
}
#lahter_kas{
	position:absolute;
    top:43%;
    left:60%;
}
#lahter_pw{
	position:absolute;
    top:51%;
    left:60%;
}
.btsign {
	-moz-box-shadow: 4px -5px 11px 2px #e0d89b;
	-webkit-box-shadow: 4px -5px 11px 2px #e0d89b;
	box-shadow: 4px -5px 11px 2px #e0d89b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:10px 8px;
	text-decoration:none;
	text-shadow:0px 4px 8px #ffee66;
}
.btsign:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.btsign:active {
	position:relative;
	top:1px;
}

#btnlog{
    height: 50px;
    width: 80px;
    position:absolute;
    top:50%;
    left:65%;
}
#btnlog.move{
	position:absolute;
    top:50%;
    left:50%;
}
#btnOpilane{
    height: 50px;
    width: 100px;
    position:absolute;
    top:50%;
    left:35%;
}
#btnOpitaja{
    height: 50px;
    width: 100px;
    position:absolute;
    top:50%;
    left:60%;
}
table.registerTable, .registerTable td {
	
    border: 1px solid black;
    border-collapse: collapse;
	
}

.nupud {
	display: block;
}

ul {
  list-style: none;
  margin: 0 auto;
}

nav {
  display: block;
  width: 660px;
  margin: 0 auto 30px;
}

.logo1 {
	height: 100px; 
	width: 80px;
}

body.opilane{
	width: 80%;
	margin:0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body.opetaja{
	width: 80%;
	margin:0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

hr {
	margin-left: 10%;
	width: 102.3%;
    display: block;
    border-style: inset;
    border-width: 1px;
}

div.tab {
    overflow: hidden;
	width: 102.3%;
    border: 1px solid #ccc;
	margin-left: 10%;
    background-color: #f1f1f1;
}

div.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    font-size: 16px;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    overflow: hidden;
	width: 102.3%;
    border: 1px solid #ccc;
	margin-left: 10%;
    border-top: none;
}

.kesk {
	text-align: center;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

img.engb {
		margin-right:2%; 
}